<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloudplaylistmanager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudPlaylistManager">
        <activity
            android:name=".ui.addExistingPopupSingle.AddExistingPopupSingleActivity"
            android:excludeFromRecents="true"
            android:label="@string/popup_create_new_title"
            android:exported="false"
            android:theme="@style/CustomDialogTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.addNewPopupSingle.AddNewPopupSingleActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/popup_create_new_title"
            android:theme="@style/CustomDialogTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.playlistviewnormal.PlaylistImportActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.playlistviewnested.PlaylistNestedActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MusicPlayer.MediaPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LandingActivity"
            android:exported="false"
            android:label="@string/title_activity_landing"
            android:screenOrientation="portrait"/>

        <service
            android:name=".MusicPlayer.MusicBrowserService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
        </service>

        <receiver
            android:name=".MusicPlayer.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="PREVIOUS" />
                <action android:name="PLAY" />
                <action android:name="PAUSE" />
                <action android:name="NEXT" />
                <action android:name="DELETE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Utils.DownloadService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>